apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
data:
  # 'mysecretpassword'를 Base64로 인코딩한 값
  # echo -n 'mysecretpassword' | base64
  POSTGRES_PASSWORD: bXlzZWNyZXRwYXNzd29yZA==

