apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: db-pvc
spec:
  accessModes:
    - ReadWriteOnce # 하나의 노드에서만 읽기/쓰기 가능
  resources:
    requests:
      storage: 1Gi # 1GB 공간 요청

