apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: ClusterIP # 외부 노출은 port-forward로 할 예정
  selector:
    app: backend
  ports:
  - port: 5000
    targetPort: 5000

