apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: my-frontend:v1 # 로컬에서 빌드한 이미지
        imagePullPolicy: Never # 로컬 이미지를 사용 (중요)
        ports:
        - containerPort: 80

