apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  type: ClusterIP # 외부 노출은 port-forward로 할 예정
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 80

